<template>
	<div style="background: #2C0944;">
		<video autoplay muted loop playsinline class="bgvideo" ref="video">
		  <source src="/src/pages/Wheel/wheel-bg.mp4" type="video/mp4">
		</video>

		<div class="game-content" @click="playvideo">
			<div class="header flex flex-row gap-1">
				<div class="header-title">
					Chiếc nón kì dị
				</div>
				<Button icon="pi pi-cog" style="color: white;" 
					text rounded @click="settingDialogVisible = true" />
			</div>
			<div class="wheel">
				<wheel @update="onUpdateResult" :key="randKey" :sectors="sectors" />
			</div>
			<div class="header flex flex-row gap-1">
				<div class="header-title" v-if="sectors[result]">
					{{ saved?sectors[result].label:sectors[result].desc }}
				</div>
			</div>
		</div>
	</div>
	<Dialog v-model:visible="settingDialogVisible" modal header="Cấu hình" :style="{ width: '50rem' }" :breakpoints="{ '1199px': '75vw', '575px': '90vw' }">
    <div class="flex flex-column gap-2">
    	<div v-for="s,idx in sectors" class="flex flex-row gap-2">
    		<InputText type="text" v-model="s.label" />
				<Button icon="pi pi-trash" 
					text rounded @click="removeSector(idx)" />
    	</div>
    	<div class="flex flex-row gap-2">
				<Button label="Thêm" @click="sectors.push({label: ''})" />
				<Button label="Khôi phục" outlined @click="resetSectors" />
			</div>
    </div>
</Dialog>
</template>
<script setup>
import Wheel from "./wheel.vue"
import { ref, onMounted, watch } from "vue"
import config from "./config";

const saved = localStorage.getItem('wheelSectors');
const sectors = ref(saved?JSON.parse(saved):JSON.parse(JSON.stringify(config.sectors)));
const video = ref(null);
const result = ref(-1);
const value = ref("");
const settingDialogVisible = ref(false);
const randKey = ref(0);
function onUpdateResult(txt) {
	result.value = txt;
}
onMounted(() => {
	playvideo();
})
function playvideo() {
	video.value.play()
}
function removeSector(idx) {
	sectors.value.splice(idx,1);
}
function resetSectors() {
	sectors.value = JSON.parse(JSON.stringify(config.sectors));
	localStorage.removeItem("wheelSectors");
}
watch(sectors, () => {
	localStorage.setItem("wheelSectors", JSON.stringify(sectors.value));
	randKey.value = Math.random()
}, {deep: true})
</script>
<style scoped>
.game-content {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
}
.bgvideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.header {
	height: 48px;
}
.header-title {
	font-weight: bold;
	color: #FFD700;
	flex: 1;
	text-align: center;
	line-height: 48px;
	text-shadow: 1px 1px #000;
}
.wheel {
	margin-top: calc((100vh - 48px - 300px)/2 - 20px);
	margin-bottom: 20px;
	text-align: center;
}
</style>