<template>
	<div id="wheelOfFortune">
      <canvas id="wheel" width="300" height="300"></canvas>
      <div id="spin" @click="spin">Go</div>
    </div>
</template>
<script setup>
import { onMounted } from "vue";

const emit = defineEmits(['update'])
const props = defineProps(['sectors'])

const colors = ['#E07026', '#E8C22E', '#ABC937', '#4F991D', '#22AFD3', '#5858D0'];
const rand = (m, M) => Math.random() * (M - m) + m;
const tot = props.sectors.length
let spinEl, ctx, dia, rad;
const PI = Math.PI
const TAU = 2 * PI
const arc = TAU / props.sectors.length
const friction = 0.991 // 0.995=soft, 0.99=mid, 0.98=hard
let angVel = 0 // Angular velocity
let ang = 0 // Angle in radians
var PIXEL_RATIO = (function () {
    var ctx = document.createElement("canvas").getContext("2d"),
        dpr = window.devicePixelRatio || 1,
        bsr = ctx.webkitBackingStorePixelRatio ||
              ctx.mozBackingStorePixelRatio ||
              ctx.msBackingStorePixelRatio ||
              ctx.oBackingStorePixelRatio ||
              ctx.backingStorePixelRatio || 1;

    return dpr / bsr;
})();
const createHiDPICanvas = function(w, h, ratio) {
    if (!ratio) { ratio = PIXEL_RATIO; }
    var can = document.getElementById("wheel");
    can.width = w * ratio;
    can.height = h * ratio;
    can.style.width = w + "px";
    can.style.height = h + "px";
    // can.getContext("2d").setTransform(1/2, 0, 0, 1/2, 0, 0);
    return can;
}
const getIndex = () => Math.floor(props.sectors.length-(ang/TAU)*props.sectors.length)%props.sectors.length;



function drawSector(sector, i) {
  const ang = arc * i
  ctx.save()
  // COLOR
  ctx.beginPath()
  ctx.fillStyle = i%2?colors[i%colors.length]:'#fff'
  ctx.moveTo(rad, rad)
  ctx.arc(rad, rad, rad, ang, ang + arc)
  ctx.lineTo(rad, rad)
  ctx.fill()
  // TEXT
  ctx.translate(rad, rad)
  ctx.rotate(ang + arc / 2)
  ctx.textAlign = 'right'
  ctx.fillStyle = i%2?'#fff':'#000'
  ctx.font = '30px sans-serif'
  ctx.fillText(sector.label, rad - 10, 10)
  //
  ctx.restore()
}

function rotate() {
  ctx.canvas.style.transform = `rotate(${ang - PI / 2}rad)`
  if ( angVel )
  	emit("update", getIndex());
}

function frame() {
  if (!angVel) return
  angVel *= friction // Decrement velocity by friction
  if (angVel < 0.002) angVel = 0 // Bring to stop
  ang += angVel // Update angle
  ang %= TAU // Normalize angle
  rotate()
}

function engine() {
  frame()
  requestAnimationFrame(engine)
}
function spin() {
	if (!angVel) angVel = rand(0.25, 0.45)
}

onMounted(() => {
	createHiDPICanvas(300, 300);
	spinEl = document.querySelector('#spin')
	ctx = document.querySelector('#wheel').getContext('2d')
	dia = ctx.canvas.width
	rad = dia / 2

  props.sectors.forEach(drawSector)
  rotate()
  engine()
})
</script>
<style scoped>
#wheelOfFortune {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

#wheel {
  display: block;
}

#spin {
  font-size: 22px;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  height: 20%;
  margin: -10%;
  background-image: linear-gradient(180deg, #8060CB -18.33%, #FF5283 107.5%);
  color: #FFFDA5;
  box-shadow: 0 0 0 8px #fad3e7, 0 0px 15px 5px rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  transition: 0.8s;
}

#spin::after {
  content: '';
  position: absolute;
  top: -17px;
  border: 10px solid transparent;
  border-bottom-color: #fad3e7;
  border-top: none;
}
</style>