<template>
	<div class="app-container flex flex-column gap-2">
		<div class="app-content">
			<div class="app-welcome uppercase">{{ $t("welcome") }}</div>
			<div class="app-welcome title"><strong>{{ $t("app_name") }}</strong></div>
		</div>
		<div class="list-game flex flex-column gap-4">
			<div v-for="g in games" class="game flex flex-row gap-3" @click="goto(g.url)">
				<img :src="g.image" />
				<div class="game-info flex flex-column gap-2">
					<div class="game-title">{{ $t(g.name+".title") }}</div>
					<div class="game-desc">{{ $t(g.name+".desc") }}</div>
				</div>
				<div class="btn-cta">{{ $t(g.name+".cta") }}</div>
			</div>
		</div>
	</div>
</template>
<script setup>
import wheel from "@/pages/Wheel/config";
import king from "@/pages/Kingscup/config";
import ever from "@/pages/Ever/config";
import { useI18n } from 'vue-i18n-lite'

const i18n = useI18n();
const games = [wheel, king, ever];

games.forEach(g => {
	if ( g.languages )
		Object.keys(g.languages).forEach(k => {
			i18n.setLocaleMessage(k, g.languages[k]);
		})
})

function goto(url) {
	window.$router.push(url)
}
</script>
<style scoped>
.app-container {
  width: 100vw;
  height: 100svh;
  background-image: url(/welcome.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
	padding-left: 14px;
	padding-right: 14px;
}
.app-content {
	padding-top: 100px;
}
.app-welcome {
	color: white;
	font-size: 16px;
	text-shadow: 1px 1px #000;
}
.app-welcome.title {
	font-size: 30px;
}
.game {
	background-color: white;
	width: 100%;
	height: 136px;
	border-radius: 24px;
	position: relative;
	align-items: center;
	padding: 0 12px;
	overflow: hidden;
}
.game img {
	width: 112px;
	height: 112px;
}
.game-info {
	height: 100%;
	padding-top: 26px;
}
.game-title {
	font-size: 16px;
	font-weight: bold;
}
.game-desc {
	font-size: 12px;
}
.btn-cta {
	width: 120px;
	height: 34px;
	background-color: #FFD700;
	color: #2C0F0F;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	right: 0;
	bottom: 0;
	border-top-left-radius: 24px;
	text-align: center;
	line-height: 34px;
}
.uppercase {
	text-transform: uppercase;
}
</style>