<template>
  <div class="app-container">
    <div class="warning-content">
      <div class="warning-title">{{ $t('warning') }}</div>
      <div style="margin-bottom: 20px">
        <p>{{ $t('note1') }}</p>
        <p>{{ $t('note2') }}</p>
        <br/>
        <p>{{ $t('disclaimer') }}</p>
      </div>
      <div class="flex flex-row gap-2">
        <div class="lang" 
          :class="{active: i18n.current.value=='vi'}"
          @click="i18n.changeLocale('vi')">🇻🇳</div>
        <div class="lang" 
          :class="{active: i18n.current.value=='en'}"
          @click="i18n.changeLocale('en')">🇺🇸</div>
        <div class="btn-primary" style="flex: 1" @click="agree">{{ $t('agree') }}</div>
      </div>
    </div>
    <img src="/welcome.jpg" style="display: none;" />
  </div>
</template>
<script setup>
import { ref, computed } from "vue";
import { useI18n } from 'vue-i18n-lite'

const i18n = useI18n();
console.log(i18n)
const user = computed(() => window.stores.user);

function agree() {
  window.$router.push("/home");
}
</script>
<style scoped>
.app-container {
  width: 100vw;
  height: 100svh;
  background-image: url(/warning.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}
.warning-content {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 80vw;
  margin: 0 auto;
  min-height: 100px;
  top: 270px;
  position: absolute;
  left: 10vw;
  padding: 10px;
  color: #3A1414;
}
.warning-title {
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  margin-bottom: 10px;
}
.warning-content p {
  margin-top: 5px;
  margin-bottom: 0;
}
.lang {
  font-size: 28px;
  padding: 0 10px;
  border-radius: 6px;
  border: 1px solid transparent;
}
.lang.active {
  border: 1px solid orange;
}
</style>
