<template>
	<img class="pocker-card"
			:ref="drag"
    	role="Box"
      :style="style"
			:src="data.back[randNum]"
			:data-testid="`box-${name}`" />
  <img :src="data.cards[index-1].image" style="display: none;" />
</template>
<script setup>
import { computed, unref, ref, onMounted, onUnmounted } from 'vue'
import { useDrag } from 'vue3-dnd'
import { toRefs } from '@vueuse/core'
import data from './data'

const props = defineProps(["randNum", "name", "index", "r", "canvasSize"]);
const useImage = ((url) => {
  return new URL(`/src/pages/Kingscup/images/${url}`, import.meta.url).href;
});

function getPosition(i) {
  const angle = -(360/56/2)*(2*i-1)-90;
  const radians = angle * (Math.PI/180); // degrees_to_radians
  const size = 30;
  return {
    top: (props.r*Math.sin(radians)+(props.canvasSize/2-35))+"px",
    left: (props.r*Math.cos(radians)+(props.canvasSize/2-25))+"px",
    transform: `rotate(${angle-90}deg)`,
  }
}
const style = ref({
  opacity: 0,
  width: "120px",
  ...getPosition(props.index-3)
})

const [collect, drag] = useDrag(() => ({
  type: "Box",
  item: () => ({
    name: props.name
  }),

  end: (item, monitor) => {
    const dropResult = monitor.getDropResult()
    style.value.left = finalPos.left;
    style.value.top = finalPos.top;
    window.$bus.emit("drop", {
      name: item.name,
      ...monitor.getClientOffset()
    });
    style.value.transitionDuration = "0.8s";
  },
  collect: monitor => {
    const offset = monitor.getDifferenceFromInitialOffset();
    if ( offset ) {
      const item = monitor.getItem();
      if ( item && item.name==props.name ) {
        style.value.left = (parseFloat(finalPos.left)+offset.x)+"px";
        style.value.top = (parseFloat(finalPos.top)+offset.y)+"px";
        style.value.transitionDuration = "0s";
        window.$bus.emit("drag", monitor.getClientOffset());
      }
    }
    return {
      isDragging: monitor.isDragging(),
      handlerId: monitor.getHandlerId(),
    }
  },
}))

const { isDragging } = toRefs(collect);
let finalPos = {};
const onDrop = name => {
  if ( props.name==name ) {
    style.value.display = 'none';
  }
}
onMounted(() => {
  setTimeout(() => {
    finalPos = getPosition(props.index);
    style.value = {
      opacity: 1,
      transitionDuration: "0.8s",
      width: "70px",
      ...finalPos,
    }
  }, 50*props.index);
  window.$bus.on("drop-accepted", onDrop)
})
onUnmounted(() => {
  window.$bus.off("drop-accepted", onDrop)
})
</script>
<style scoped>
.pocker-card {
	position: absolute;
	width: 50px;
  opacity: 0;
}
</style>