<template>
	<div ref="drop" role="Dustbin" 
		class="drop-zone flex flex-column"
		:style="{ backgroundColor }">
    <span>{{ isActive ? 'Thả bài' : 'Kéo bài vào đây' }}</span>
    <div class="result" :class="{showResult}">
    	<result @close="showResult=false" />
    </div>
  </div>
</template>
<script setup>
import { onMounted, ref, computed } from 'vue'
import Result from './result.vue'

const drop = ref(null);
const showResult = ref(false);
const isActive = ref(false);
const backgroundColor = computed(() => {
	if ( isActive.value )
		return 'rgba(255, 255, 255, 0.5)';
	else return 'rgba(255, 255, 255, 0.3)';
})

onMounted(() => {
	const dropZone = drop.value.getBoundingClientRect();
	window.$bus.on("drag", (o) => {
		if ( o.x>=dropZone.x && o.x<=dropZone.x+dropZone.width
				&& o.y>=dropZone.y && o.y<=dropZone.y+dropZone.height ) {
			isActive.value = true;
		} else isActive.value = false;
	})
	window.$bus.on("drop", (o) => {
		isActive.value = false;
		if ( o.x>=dropZone.x && o.x<=dropZone.x+dropZone.width
				&& o.y>=dropZone.y && o.y<=dropZone.y+dropZone.height ) {
			window.$bus.emit("drop-accepted", o.name);
			showResult.value = true;
		}
	})
})
</script>
<style scoped>
.drop-zone {
	width: 130px;
	height: 155px;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 16px;
	border: 2px dashed rgba(255, 255, 255, 0.6);
	margin: 0 auto;
	color: #fff;
	align-items: center;
	justify-content: space-around;
}
.drop-zone:hover {
	background-color: rgba(255, 255, 255, 0.5);
}
.result {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	opacity: 0;
	background-image: linear-gradient(180deg, #00498A -18.33%, #001E3A 107.5%);
	transition-duration: 0.5s;
	overflow: hidden;
	transform: scale(0.01);
}
.result.showResult {
	transform: scale(1);
	opacity: 1;
}
</style>