<template>
	<div class="kingscup">
		<div class="header flex flex-row gap-1">
			<div class="header-title">
				King's Cup
			</div>
		</div>
		<play-table />
	</div>
</template>
<script setup>
import PlayTable from "./playTable.vue";
</script>
<style scoped>
.kingscup {
	width: 100vw;
	height: 100svh;
	overflow: hidden;
	background-image: linear-gradient(180deg, #00498A -18.33%, #001E3A 107.5%);;
}

</style>