<template>
	<DndProvider :backend="TouchBackend" :options="options">
	<div class="play-table">
		<poker-card v-for="idx in 52" 
			:rand-num="randBack" 
			:name="`card-${idx}`"
			:index="idx" :r="r" :canvasSize="canvasSize" />
	</div>
	<drop-zone />
	</DndProvider>
	<div class="statistic flex flex-row">
		<div class="flex flex-row gap-1">
			<img src="@/pages/Kingscup/images/card-mini.png" />
			<span>{{ tableInfo.cards.length }}</span>
		</div>
		<div class="flex flex-row gap-1">
			<img src="@/pages/Kingscup/images/crown.png" />
			<span>{{ tableInfo.king }}</span>
		</div>
	</div>
</template>
<script setup>
import { ref, onMounted, provide } from "vue";
import { TouchBackend } from 'react-dnd-touch-backend'
import { DndProvider } from 'vue3-dnd'
import PokerCard from "./card.vue"
import DropZone from "./dropZone.vue"

const options = {
}
const tableInfo = ref({
	cards: Array.from(Array(52).keys()).sort(() => Math.random() - 0.5),
	king: 0
});
provide('tableInfo', tableInfo)

const canvasSize = window.innerWidth;
const r = (canvasSize/4);
const randBack = ref(1);

onMounted(() => {
	randBack.value = parseInt(Math.random()*15)+1
})
</script>
<style scoped>
.play-table {
	width: 100vw;
	padding-bottom: 100%;
	position: relative;
}
.statistic {
	width: 160px;
	margin: 0 auto;
	color: #fff;
	justify-content: space-between;
	margin-top: 20px;
}
.statistic img {
	width: 24px;
}
</style>