<template>
	<div class="header flex flex-row gap-1">
		<div class="header-title">
			Lật bài
		</div>
	</div>
	<div class="content flex flex-column" v-if="card>=0">
		<div class="card-image">
			<img :src="data.cards[card].image" />
		</div>
		<div class="card-meaning">
			<div class="card-title">{{ $t(`${data.cards[card].name}.label`) }}</div>
			<div class="card-desc">{{ $t(`${data.cards[card].name}.desc`) }}</div>
		</div>
		<div class="btn-primary" @click="close">Tiếp tục</div>
	</div>
	<div v-if="data.cards[card] && data.cards[card].name=='pour'" class="king-congrat">
		<Vue3Lottie :animationData="Party2" :height="200" :width="200" />
	</div>
</template>
<script setup>
import data from "./data";
import { onMounted, onUnmounted, ref, inject } from "vue";
import {Vue3Lottie} from 'vue3-lottie';
import Party from "@/assets/party.json";
import Party2 from "@/assets/party2.json";

const emit = defineEmits(["close"]);
const tableInfo = inject('tableInfo');
const card = ref({});
const opacity = ref(0);
function close() {
	opacity.value = 0;
	emit("close");
}

const fullWidth = window.innerWidth;
const fullHeight = window.innerHeight;

const newResult = (e) => {
	card.value = tableInfo.value.cards.pop();
	opacity.value = 1;
	if ( data.cards[card.value].name=='pour' )
		tableInfo.value.king++;
}
onMounted(() => {
	window.$bus.on("drop-accepted", newResult);
})
onUnmounted(() => {
	window.$bus.off("drop-accepted", newResult);
})
</script>
<style scoped>
.content {
	width: 100vw;
	padding: 5vh 5vw;
}
.card-meaning {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}
.card-title {
	font-weight: bold;
	font-size: 28px;
	color: #FFD700;
}
.card-desc {
	font-size: 20px;
}
.card-image {
	text-align: center;
	transition: 1s;
}
.card-image img {
	max-width: 50vw;
}
.king-congrat {
	position: absolute;
	right: 0;
	top: 30vh;
}
</style>