<template>
  <Toast />
  <DynamicDialog />
  <ConfirmDialog />
</template>
<script setup>
import {onMounted} from "vue";
import getRoutes from "@/helper/routes";
import { useToast } from "primevue/usetoast";
import { useDialog } from 'primevue/usedialog';
import DynamicDialog from 'primevue/dynamicdialog';
import ConfirmDialog from 'primevue/confirmdialog';
import { useConfirm } from "primevue/useconfirm";
import { getUserInfo, getAccessToken } from "zmp-sdk/apis";

import "@/style.css";
import "primevue/resources/themes/lara-light-indigo/theme.css";
import "primeflex/primeflex.scss";
import "primeicons/primeicons.css";

const emit = defineEmits(['loaded']);
onMounted(async () => {
  const addedRoute = window.$router.getRoutes();
  const routes = getRoutes('remote');
  routes.forEach(r => {
    const existed = addedRoute.find(r2 => r2.path==r.path);
    if ( !existed ) {
      window.$router.addRoute(r)
    }
  });

  window.$dialog = useDialog();
  window.$toast = useToast();
  window.$confirm = useConfirm();

  emit('loaded');
});
</script>
<style scoped>

</style>