<template>
	<div class="kingscup">
		<div class="header flex flex-row gap-1">
			<div class="header-title">
				Never Have I Ever
			</div>
			<Button icon="pi pi-cog" style="color: white;" 
					text rounded @click="settingDialogVisible = true" />
		</div>
		<div class="tabs flex flex-row">
			<div v-for="t,idx in tabs" class="tab" 
				@click="tabActive=idx"
				:class="{active: idx==tabActive}">{{ t }}</div>
		</div>
		<div class="question flex flex-column" @click="nextQuestion">
			<span>{{ question }}</span>
		</div>
	</div>
	<Dialog v-model:visible="settingDialogVisible" modal header="Cấu hình" :style="{ width: '50rem' }" :breakpoints="{ '1199px': '75vw', '575px': '90vw' }">
	    <setting @update="loadQuestion" />
	</Dialog>
</template>
<script setup>
import data from "./data.js";
import { ref, onMounted, computed } from "vue";
import Setting from "./settings.vue"

const tabActive = ref(0);
const tabs = computed(() => {
	return saved.value?["nice", "both", "dirty", "custom"]:["nice", "both", "dirty"]
});
const question = ref("Bấm vào đây để bắt đầu");
const bothQuestion = Object.assign({}, data.nice.questions, data.dirty.questions);
data.nice.questions
const settingDialogVisible = ref(false);
const saved = ref(null);

function nextQuestion() {
	question.value = questions[tabs.value[tabActive.value]].pop();
}
let questions = null;
function shuffle(arr) {
	arr.sort(() => Math.random() - 0.5);
	return arr;
}
function loadQuestion() {
	const savedQuestion = localStorage.getItem("EverQuestions")
	questions = {
		nice: shuffle([...data.nice.questions]),
		dirty: shuffle([...data.nice.questions]),
		both: shuffle([...data.nice.questions, ...data.nice.questions])
	}
	if ( savedQuestion ) {
		saved.value = JSON.parse(savedQuestion).map(q => q.label)
		questions.custom = shuffle([...saved.value]);
	} else {
		saved.value = null
	}
	tabActive.value = 0;
}
onMounted(() => {
	loadQuestion();
})
// import { useI18n } from 'vue-i18n-lite'
// import vi from "./languages/vi.json";

// const i18n = useI18n();
// i18n.setLocaleMessage('vi', vi);
</script>
<style scoped>
.kingscup {
	width: 100vw;
	height: 100svh;
	overflow: hidden;
	background-image: linear-gradient(180deg, #00498A -18.33%, #001E3A 107.5%);;
}
.tabs {
	width: 80%;
	margin: 0 auto;
	background-color: #018EFF;
	border-radius: 12px;
}
.tab {
	flex: 1;
	text-align: center;
	color: white;
	line-height: 40px;
  transition: 0.5s;
}
.tab.active {
	background-color: #FF5760;
	border-radius: 12px;
}
.question {
	width: 80%;
	margin: 0 auto;
	min-height: 200px;
	background-size: cover;
	background-image: url(/src/pages/Ever/bg.jpeg);
	margin-top: 50px;
	border-radius: 20px;
	text-align: center;
	padding: 20px;
	font-size: 24px;
	text-align: center;
  justify-content: space-around;
}
</style>