<template>
	<div class="flex flex-column gap-2">
    	<div v-for="s,idx in sectors" class="flex flex-row gap-2">
    		<InputText type="text" v-model="s.label" />
				<Button icon="pi pi-trash" 
					text rounded @click="removeSector(idx)" />
    	</div>
    	<div class="flex flex-row gap-2">
				<Button label="Thêm" @click="sectors.push({label: ''})" />
				<Button label="Reset" outlined @click="resetSectors" />
			</div>
    </div>
</template>
<script setup>
import {ref,watch} from "vue";

const emit = defineEmits(['update'])
const saved = localStorage.getItem("EverQuestions")
const sectors = ref(saved?JSON.parse(saved):[]);

watch(sectors, () => {
	if ( sectors.value.length )
		localStorage.setItem("EverQuestions", JSON.stringify(sectors.value));
	else 
		localStorage.removeItem("EverQuestions");
	emit('update')
}, {deep: true})

function resetSectors() {
	sectors.value = [];
}
</script>
<style scoped>

</style>