@font-face {
  font-family: "ProductSans";
  src: url(/fonts/ProductSansRegular.otf);
}
@font-face {
  font-family: "ProductSans";
  font-weight: bold;
  src: url(/fonts/ProductSansBold.otf);
}

:root {
  font-family: "ProductSans", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #f9963b;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  width: 100%;
  background-color: #fafafa;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.p-toast {
  max-width: 90%;
}
.p-dialog {
  background-color: white;
}
.header {
  height: 48px;
}
.header-title {
  font-weight: bold;
  color: #FFD700;
  flex: 1;
  text-align: center;
  line-height: 48px;
  text-shadow: 1px 1px #000;
}
.btn-primary {
  background-color: #FF5760;
  padding: 10px;
  border-radius: 16px;
  line-height: 26px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  box-shadow: 0px 4px 1px 0px #DD3841;
}